{% extends 'base.html' %}

{% block content %}
{% if 'user' in request.__dict__ and request.user and request.user.token: %}
<div class="container p-5 my-5 border">
    <h1>Responder mensaje</h1>
    <p>Respondiendo a {{nomuser}}: {{cita}}</p>

    <form action="/respondiendomensajeforo" method="post">
        <label for="primermensaje"><b>Nuevo mensaje </b></label>
        <input name="nuevomensaje" minlength="1" maxlength="63" class="inputforero" type="text" placeholder="Ej: Me encanto el desarrollo de la historia, ¿y a vosotros?">
        <br>
        <input name="iduser" type="hidden" value="{{request.user.id}}">
        <input name="idtema" type="hidden" value="{{idtema}}">
        <input name="idcita" type="hidden" value="{{idcita}}">
        <input name="nomtema" type="hidden" value="{{nomtema}}">
        <input type="submit" class="botonforero" value="Responder">
    </form>
</div>
{% else %}
<p class="container p-5 my-5 border">Inicia sesión para usar el foro.</p>
{% endif %}
{% endblock %}